@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


@import "tailwindcss";



@theme {
    /* Colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey200: #D8D8D8;
    --color-blue100: #E5EAF1;
    --color-blue50: #F6FAFF;
    /* Breakpoints */
    --breakpoint-xs:21.875rem;
}


body{
    font-family: "Josefin Sans", sans-serif;
}
